<div id="statistics-modal" class="modal">
    <div class="card">
        <div class="card-content blue-grey white-text">
            <span class="card-title">Statistics for {{ post.title }}</span>
        </div>

        <div class="card-content">
            {{ post.author }}
        </div>

    </div>
</div>