{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="card no-padding col l12">
            <div class="card-content blue-grey white-text">
                <span class="card-title">Profile: {{ user.getFormattedFullName() }}</span>
            </div>

            <div class="card-content">

                <span class="card-edit no-print">
                    {% if user %}
                        <a class="btn-floating btn-large waves-effect waves-light orange right" href="{{ path('fos_user_profile_edit') }}">
                            <i class="material-icons">edit</i>
                        </a>
                    {% endif %}
                </span>

                {% block fos_user_content %}
                    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
                {% endblock fos_user_content %}

            </div>

        </div>
    </div>

{% endblock %}
