{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}
{% block body %}

    {{ include('admin/components/login-modal.html.twig') }}


    <div class="section">
        {% for post in indexData.posts %}

            {{ include('blog/components/card-large.html.twig', { 'post': post }) }}

        {% endfor %}
    </div>

{% endblock %}
