{% extends 'base.html.twig' %}

{% block title %}Blog Browser | Ari Molzer{% endblock %}
{% block body %}

<div class="container content-container">
    <div class="section">
        <div>

            {% for post in posts %}

                {{ include('blog/components/card-horizontal.html.twig', { 'post': post }) }}

            {% endfor %}

        </div>

        {% if pagination %}
            {{ include(':shared/components:pagination.html.twig', { 'pagination': pagination }) }}
        {% endif %}

    </div>
</div>

{% endblock %}
