{% extends 'base.html.twig' %}

{% block title %}Blog Posts | Ari Molzer{% endblock %}
{% block body %}

<div class="section">
        {% for post in posts %}
            {{ include('blog/components/card-horizontal.html.twig', { 'post': post }) }}
        {% endfor %}

    {% if pagination %}
        {{ include(':shared/components:pagination.html.twig', { 'pagination': pagination }) }}
    {% endif %}

</div>

{% endblock %}
