<div class="row">
    <h5>Google Analytics</h5>

    <div class="row">
        <div class="input-field col s12">
            <input id="ga-key" type="text" class="validate">
            <label for="ga-key">Google Analytics Key</label>
        </div>
    </div>

</div>

<div class="row">
    <h5>Google Tag Manager</h5>

    <div class="row">
        <div class="input-field col s12">
            <input id="gtm-key" type="text" class="validate">
            <label for="gtm-key">GTM Key</label>
        </div>
    </div>
</div>
