<div class="row">
    <h5>API Options</h5>
    <p>Enable and disable endpoints for external access - only turn on the options you are ok with other people accessing.</p>
    <br />

    <div class="row">
        <ul class="collection z-depth-1">
            <li class="collection-item">
                Blog Posts
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </li>
            <li class="collection-item">
                Search Bar
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>
