<div class="row">
    <h5>Color Theme</h5>
    <p>Select colors from the official Google Material design scheme <a href="https://material.google.com/style/color.html" target="_blank" class="orange-text">found here</a>.</p>

    <div class="input-field col s12">
        <select>
            <option value="" selected>Dark Blue</option>
            <option value="1">Red</option>
            <option value="2">Pink</option>
            <option value="3">Purple</option>
            <option value="4">Deep Purple</option>
            <option value="5">Indigo</option>
            <option value="6">Blue</option>
            <option value="7">Light Blue</option>
            <option value="8">Cyan</option>
            <option value="9">Teal</option>
            <option value="10">Green</option>
            <option value="11">Light Green</option>
            <option value="12">Lime</option>
            <option value="13">Yellow</option>
            <option value="14">Amber</option>
            <option value="15">Orange</option>
            <option value="16">Deep Orange</option>
            <option value="17">Brown</option>
            <option value="18">Grey</option>
            <option value="19">Blue Grey</option>
        </select>
        <label>Primary Color</label>
    </div>

    <div class="input-field col s12">
        <select>
            <option value="" selected>Dark Blue</option>
            <option value="1">Red</option>
            <option value="2">Pink</option>
            <option value="3">Purple</option>
            <option value="4">Deep Purple</option>
            <option value="5">Indigo</option>
            <option value="6">Blue</option>
            <option value="7">Light Blue</option>
            <option value="8">Cyan</option>
            <option value="9">Teal</option>
            <option value="10">Green</option>
            <option value="11">Light Green</option>
            <option value="12">Lime</option>
            <option value="13">Yellow</option>
            <option value="14">Amber</option>
            <option value="15">Orange</option>
            <option value="16">Deep Orange</option>
            <option value="17">Brown</option>
            <option value="18">Grey</option>
            <option value="19">Blue Grey</option>
        </select>
        <label>Secondary Color</label>
    </div>
</div>

<div class="row">
    <h5>Background Image</h5>
    <p>Upload the image you would like to be your sites full-size background.</p>
    <p>Make sure you compress this image before uploading (Recommended size: < 500kb and 1920 x 1080).</p>

    <form action="#">
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload your background image">
            </div>
        </div>
    </form>
</div>

<div class="row">
    <h5>Social Share Image</h5>
    <p>Also known as an og-image - this image will be rendered when the site is shared on social media.</p>
    <p>Make sure you compress this image before uploading (Required size: < 8MB and 1200 x 630).</p>

    <form action="#">
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload your og-image">
            </div>
        </div>
    </form>
</div>

{% block javascripts %}

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

{% endblock %}