@import "_variables";

.card {

  .card-image {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &.card-image-large {
      height: 300px;
      overflow-y: hidden;

      img {
        color: #000;
      }
    }

    .card-edit {
      padding: 10px;
      float: right;
    }

  }

  .card-title {
    h1 {
      font-size: 2.0rem;
      margin: 0 0 0 10px;
    }

    h3 {
      font-size: 1.5rem;
      margin: 10px 0 0 10px;
    }
  }

  .card-content-body {
    text-align: justify;
  }

  &.horizontal {

    @media screen and (max-width: $materialize-small) {
      display: block;
    }

    .card-image {

      width: 50%;
      max-width: 50%;
      height: initial;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (max-width: $materialize-small) {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 200px;
      }
    }
  }
}