{# Modal Trigger - Include this template and impliment #}
{# this code in places you would like to trigger the modal #}

{# <a class="waves-effect waves-light btn modal-trigger" href="#sign-in-modal">Sign In</a> #}

<div id="sign-in-modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 l8 offset-l2">
                <h6>Sign In</h6>
                <br />
                <hr>

                {% block fos_user_content %}
                    {{ include('FOSUserBundle:Security:login_content.html.twig') }}
                {% endblock fos_user_content %}

                <hr>
                <br />
                <h6>Login with Google</h6>
            </div>
        </div>
    </div>
</div>