<a href="javascript:$('#sign-in-modal').openModal();" class="modal-trigger">
    <button class="btn waves-effect waves-light modal-trigger orange accent-2">Sign In
        <i class="material-icons right">lock_outline</i>
    </button>
</a>