<div class="container">

    <div class="row">

        <div id="nav-menu" class="col s3 m2 l1 center-align">
            <nav>
                <div class="nav-wrapper blue-grey darken-3">
                    <a href="#" data-activates="slide-out" class="nav-button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                </div>
            </nav>
        </div>

        <div id="nav-search" class="col s9 m10 l11">
            <nav>
                <div class="nav-wrapper blue-grey darken-3">
                    <form onsubmit="javascript:preventDefault();">
                        <div class="input-field">
                            <input id="search" type="search" required autocomplete="off" >
                            <label for="search"><i class="material-icons">search</i></label>
                            <i id="search-close" class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>


    <ul class="collection" hidden id="search-results"></ul>
</div>

{% block javascrips %}
    <script>

        // ============
        // == SEARCH ==
        // ============
        // Search functionality - AJAX request makes a GET request
        // Returns relevant posts, and adds them to the DOM
        // ============

        // Setup timer
        var typingTimer;

        // Set Time interval
        var doneTypingInterval = 800;

        // Define a number of relevant DOM elements - for ease
        var $searchInput = $('#search');
        var $searchClose = $('#search-close');
        var $searchResults = $('#search-results');
        var $searchContainer = $('#nav-search');
        
        var $navMenu = $('#nav-menu');

        // On keyup, start the countdown
        $searchInput.on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(requestSearchResults, doneTypingInterval);

            // Check if the input is empty, and remove search results if it is
            if (!$searchInput.val()) {
                $searchResults.empty();
                $searchResults.hide();
            }
        });

        // On keydown, clear the countdown
        $searchInput.on('keydown', function () {
            clearTimeout(typingTimer);
        });

        // When the user clicks the X button in the input
        // clear all of the relevant input values
        $searchClose.click(function () {
            $searchInput.val(null);
            $searchResults.hide();
            $searchResults.empty();
        });

        // User is finished typing, search for results relating to their request
        function requestSearchResults() {

            // Search for posts relating to the search term
            $.getJSON( "{{ url('searchTermEndpoint') }}/" + $searchInput.val() , function( data ) {

                // Make the empty search results visible on the DOM
                $searchResults.show();

                // Empty the search results
                $searchResults.empty();

                // Check if the AJAX call returned any results and return a message
                // if there are none.
                if (data.length === 0) {

                    // Add a message to let the user know
                    $('<li class="collection-item orange-text"><h5 class="title">No results found</h5></li></a>').prependTo($searchResults);

                    // Remove the message after 3 seconds
                    setTimeout(function () {
                        $searchResults.fadeOut('slow');
                        $searchResults.empty();
                    }, 3000)

                    // Break out
                    return false;
                }

                // Loop through the results and add them to the DOM
                $.each(data, function( index, value ) {
                    $('<a class="collection-item avatar orange-text" href="'+value['url']+'"><img src="/uploads/posts/'+value['headerImage']+'" class="circle"><span class="title">'+value['title']+'</span><p>'+value['subtitle']+'</p></a>').prependTo($searchResults).slideDown();
                });
            });
        }

        $(".nav-button-collapse").sideNav();

    </script>

{% endblock %}