<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="{{ asset('assets/images/posts/grow.jpg') }}">
            </div>
            <a href="#!user"><img class="circle" src="{{ asset('assets/images/users/1.jpg') }}"></a>
            <a href="#!name"><span class="white-text name">Ari Molzer</span></a>
            <a href="#!email"><span class="white-text email">ari.molzer@molzertech.com</span></a>
        </div>
    </li>

    <li><a href="{{ url('index') }}"><i class="material-icons">home</i>Home</a></li>
    <li><a href="{{ url('blogIndex') }}"><i class="material-icons">insert_drive_file</i>Blog Posts</a></li>

    <li><div class="divider"></div></li>

    <li><a href="#!"><i class="material-icons">account_box</i>My Profile</a></li>
    <li><a href="#!"><i class="material-icons">settings</i>Settings</a></li>
    <li><a href="#!"><i class="material-icons">info</i>Information</a></li>
</ul>
