{# Modal Trigger - Include this template and impliment #}
{# this code in places you would like to trigger the modal #}

{# <a class="waves-effect waves-light btn modal-trigger" href="#login-modal">Sign In</a> #}

<div id="login-modal" class="modal">
    <div class="card">
        <div class="card-content blue-grey white-text">
            <span class="card-title">Sign In</span>
        </div>

        <div class="card-content">
        {% block fos_user_content %}
            {{ include('FOSUserBundle:Security:login_content.html.twig') }}
        {% endblock fos_user_content %}
        </div>

    </div>
</div>
